.container {
  width: 90%;
  margin: 40px auto;
}
.formulario {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px 0;
  gap: 20px;
}
.select {
  height: 45px;
  width: 150px;
  padding: 10px;
  border: none;
  border-radius: 10px;
  transition: background-color 0.3s ease, color 0.3s ease;
  font-size: 1rem;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.2);
}
